@charset "UTF-8";
.navwrap {
    border-top: 1px solid #CCCCCC;
    /*border-bottom: 1px solid #CCCCCC;*/
    /*height: 56px;*/
    background-color: #F7F7F7;
    clear: both;
    /*overflow: hidden;*/
}

#iwantoicon {
    margin-right: 12px;
    margin-left: -20px;
}

.navwrap_top .i_want_to {
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    width: 92px;
    height: 52px;
    line-height: 52px;
    padding: 2px 0 0 28px;
    background-color: #ffffff;
}

.navwrap_top ul {
    height: 56px;
    display: inline-block;
    /*float: left;*/
    font: 400 16px/56px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.navwrap_top li {
    display: inline-block;
    margin: 0px 21px;
}

.navwrap_top li a {
    color: #000;
}

.navwrap_top li a:hover {
    color: red;
}

.navwrap_top input {
    display: inline-block;
    width: 180px;
    height: 36px;
    margin-left: 130px;
}

.navwrap_top span {
    position: relative;
}

.navwrap_top #search {
    position: absolute;
    top: 2px;
    right: 5px;
}

.navwrap_bottom {

}

.col-1 {
    padding-top: 10px;
    height: 209px;
    display: none;
}
.col-1 .row {
    display: inline-block;
}
.col-1 img {
    margin-right: 40px;
    display: inline-block;
    vertical-align: text-bottom;
}

.col-1 ul {
    margin-right: 170px;
    display: inline-block;
}

.col-1 ul li a {
    cursor: auto;
    color: #333;
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-1 ul li a:hover {
    color: #0066ff;
}

.col-2 {
    height: 335px;
    padding-top: 10px;
    display: none;
}
.col-2 .row {
    display: inline-block;
}
.col-2 ul {
    margin-right: 127px;
}

.col-2 ul li {
    width: 296px;
    border-bottom: 1px solid #CCCCCC;
}

.col-2 ul li a {
    color: #000;
    font: 400 16px/44px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-2 ul li a:hover {
    color: #0066ff
}

.col-2 .img {
    margin-left: 94px;
    vertical-align: top;
}

.col-2 .img div h3 {
    font: 700 16px/28px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-2 .img div p {
    width: 290px;
    font: 400 16px/180% frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-3 {
    height: 407px;
    padding-top: 10px;
    display: none;
}
.col-3 .row {
    display: inline-block;
}
.col-3  ul {
    display: inline-block;
    width: 170px;
    color: #cc0000;
    vertical-align: top;
}

.col-3  ul h3 {
    margin: 10px auto 10px;
    font-size: 16px;
    font-weight: bold;
}

.col-3 .row ul li {
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-3 ul li a {
    color: #000;
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-3 ul li a:hover {
    color: #0066ff
}

.col-3 .img {
    width: 299px;
    padding: 0 0 0 10px;
    display: inline-block;
    vertical-align: top;
}

.col-3 .img div h3 {
    font: 700 16px/28px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-3 .img div p {
    width: 290px;
    font: 400 16px/180% frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-4 {
    height: 323px;
    padding-top: 10px;
    display: none;
}
.col-4 .row{
    display: inline-block;
}
.col-4 ul {
    width: 270px;
    color: #cc0000;
    padding: 0 10px;;
    display: inline-block;
    vertical-align: top;
}

.col-4 ul h3 {
    margin: 10px auto 10px;
    font-size: 16px;
    font-weight: bold;
}

.col-4 ul li {
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-4 ul li a {
    color: #000;
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-4 ul li a:hover {
    color: #0066ff
}

.col-5 {
    height: 402px;
    padding-top: 10px;
    display: none;
}
.col-5 .row {
    display: inline-block;
}
.col-5  ul {
    width: 170px;
    color: #cc0000;
    padding: 0 15px;;
    display: inline-block;
    vertical-align: top;
}

.col-5  ul h3 {
    margin: 10px auto 10px;
    font-size: 16px;
    font-weight: bold;
}

.col-5 .smalltitle {
    color: #000;
}

.col-5 ul li {
    font: 400 16px/28px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-5 ul li a {
    color: #000;
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-5 ul li a:hover {
    color: #0066ff
}

.col-6 {
    height: 402px;
    padding-top: 10px;
    display: none;
}
.col-6 .row{
    display: inline-block;
}
.col-6  ul {
    width: 170px;
    display: inline-block;
    vertical-align: top;
    color: #cc0000;
    padding: 0 15px;;
}

.col-6  ul h3 {
    margin: 10px auto 10px;
    font-size: 16px;
    font-weight: bold;
}

.col-6 .smalltitle {
    color: #000;
}

.col-6 .row ul li {
    font: 400 16px/28px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-6 ul li a {
    color: #000;
    font: 400 16px/34px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-6 ul li a:hover {
    color: #0066ff
}

.col-6 .img {
    width: 299px;
    padding: 0 0 0 10px;
    margin-left: 200px;
    display: inline-block;
    vertical-align: top;
}

.col-6 .img div h3 {
    font: 700 16px/28px frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.col-6 .img div p {
    padding-top: 16px;
    color: #000;
    width: 290px;
    font: 400 16px/180% frutigernext, "Microsoft YaHei", Arial, Helvetica, sans-serif;
}