@charset "UTF-8";
.newbar {
    margin: 15px auto;
    height: 60px;
    background-color: #F7F7F7;
    position: relative;
    overflow: hidden;
}

.newbar_left {
    display: inline-block;

    width: 116px;
    background: url("../images/homepage_news_01.png");
    padding-left: 50px;
    vertical-align: top;
}

.newbar_left a {
    cursor: pointer;
    font: normal 18px/60px Microsoft YaHei, Arial, Helvetica, sans-serif;
}

.newbar_center {
    display: inline-block;
}

.newbar_center ul {
    display: inline-block;

}

.newbar_center ul a {
    padding-left: 25px;
    color: #333;
    font: normal 18px/60px Microsoft YaHei, Arial, Helvetica, sans-serif;
}

.newbar_rigth .nr_top {
    position: absolute;
    right: 40px;
    top: 10px;
}

.newbar_rigth .nr_bottom {
    position: absolute;
    right: 40px;
    top: 30px;
}